<div class="col-md-6">
    <div class="article-card">
        
            
                <div class="col-md-3 display-image" style="background-image:url('{{ image_link }}')">
                    {% if quality_category=="FA" %}
                    <div class="featuredTag">FEATURED</div>
                    {% endif %}
                </div>                 
       
            <div class="col-md-9 caption">

                <h3>{{ page_title.replace('_',' ') }}</h3>
                <div class="metadata"> <!-- {{ subcategory }}-->

                    {{ num_links }} Missing links

                </div>

                    <div class="row bottomBar">
                    <div class="col-md-6 missingTopics" >
                        <div class="quality {{ quality_category }}">
                            <div class="indicator one"></div>
                            <div class="indicator two"></div>
                            <div class="indicator three"></div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a target="_blank" href="/navlink-recommendation/edit/{{ page_title }}/" class="editButton btn btn-sm btn-default" role="button">Add links</a>
                    </div>
                    </div>
                

            </div>




    </div>
</div>
