body {
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    background-color: #fff;
}
.not-recommended{
    display:none;
}

.wiki-header {
    background-color: #347bff;
    color:#fff;
    padding: 15px 0px;
}

.brand-title {
    margin: 0;
}

.brand-subtitle {
    opacity: 0.5;
}

.category-switcher {
    padding: 15px 0px;
    
}

.category-pills li a{
    color: #555;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover,
.category-pills li.active a{
    background: #EAF3FF;
    color: #000;
}

.article-card {
    padding: 10px;
    overflow: hidden;
    background: #fff;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 20px;
}
.article-card:hover {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.article-card .caption {
 
}

.article-card .display-image {
    overflow: hidden;
    height: 130px;
    background: #f5f5f5;
    background-size: cover;
    background-position: 50% 30%;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.2);
    
}

.article-card h3 {
    width: 100%;
    font-size: 21px;
    
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    margin:5px 0px;
}

.article-card .metadata {
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

.article-card .indicator {
    height: 10px;
    width: 10px;
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid #eee;
}

.article-card .quality.A .indicator.one,
.article-card .quality.A .indicator.two,
.article-card .quality.A .indicator.three
{
    background: #8ADA65;
    border-color: #8ADA65;
}

.article-card .quality.B .indicator.one,
.article-card .quality.B .indicator.two
{
    background-color: #F5A623;
    border-color: #F5A623;
}
.article-card .quality.B .indicator.three {
    border-color: #F5A623;
}

.article-card .quality.C .indicator.one

{
    background-color: #F56223;
    border-color: #F56223 ;
}

.article-card .quality.C .indicator.two,
.article-card .quality.C .indicator.three {
    border-color: #F56223 ;
}



.article-card .editButton {
float: right;
}

.article-card .quality {
text-align: right;
}



.article-card .missingTopics 
{
    line-height: 30px;
}

.featuredTag {
    position: absolute;
    background: rgba(255,255,255,2550.8);
    color: #000;
    display: inline-block;
}

.bottomBar {
    margin-top: 30px;
    
}