body {
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
}
.not-recommended{
    display:none;
}

.wiki-header {
    background-color: #347bff;
    color:#fff;
    padding: 15px 0px;
}

.brand-title {
    margin: 0;
}

.brand-subtitle {
    opacity: 0.5;
}

.category-switcher {
    padding: 15px 0px;
    background: #f5f5f5;
}

.category-pills li a{
    color: #555;
}

.category-pills li.active a{
    background: #fff;
    color: #000;
}